.error {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}

.error__box {
    width: 50%;
    border-radius: var(--border-radius);
    border: 2px solid var(--component-border-color);
    padding: 1rem 2rem;
    background-color: var(--component-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
